.snake_container{
    background-image : url("../../assets/cell.png");
    background-size: 64px 64px;
    border: 12px solid  #43A047;
    border-radius: 8px;
    box-shadow: 0px 8px 0px #1b5e20f7 ,
                 -2px -2px 0px #1b5e20f7 ,
                 2px -2px 0px #1b5e20f7 ,
                 -2px 8px 0px #1b5e20f7 ,
                 2px 8px 0px #1b5e20f7 ,
                 inset 0px 4px 4px #1b5e20b3;
    margin-top: 20px;
    width: 572px;
    height: 352px;
    position: relative;
}

.cell{
    position: absolute;
    width: 31px;
    height: 31px;
    background: #000;
}

.seed{
    height: 30px;
    background: #FFF176;
    border: 6px solid #FBC02D;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #F57F17;
}

.snake{
    height: 30px;
    background: #43A047;
    border: 1px solid #1B5E20;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #1B5E20;
    border-radius: 8px;
}

.snake::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-radius: 50%;
    background: #FFF176;
    border: 1px solid #1B5E20;
    box-sizing: border-box;
}

.gameOver{
    width: 100%;
    height: 100%;
    background: #3333338c;
    color: white;
    font-size: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.gameOver p {
    padding-top: 25%;    
}